<h1>Welcome to the Car Simulator</h1>
<p>Find me in app/views/cars/index.html.erb</p>

<!-- # need to includeform and inputs -->
<form action = "/cars/create" method = "get">
  <input type= "text" name="make" placeholder="Enter in the make of your vehicle"/>
  <input type= "text" name="model_year" placeholder="Enter the year of your vehicle"/>
  <input type="submit" value="Submit"/>
</form>
